# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
env/
venv/

# Editor specific files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

